# 22MIC0041
# KHUSHI KS
# CSV, JSON & Excel Examples


**Contents**

1. Writing CSV with `csv.writer()`
2. Get Absolute Path of File
3. Writing Rows One by One
4. Writing Multiple Rows with `writerows()`
5. Writing CSV with `csv.DictWriter()`
6. Reading CSV with `csv.reader()`
7. Appending Data to CSV
8. Handling CSV with Pandas
9. JSON Handling: `dump()`, `load()`, `dumps()`, `loads()`
10. Handling JSON with Pandas
11. Reading Excel with `openpyxl`
12. Writing to Excel with `openpyxl`
13. Writing Formulas with `openpyxl`
14. Formatting Cells with `openpyxl`
15. Handling Excel with Pandas

---

## 1. Writing CSV with `csv.writer()`

In [1]:
import csv

data = [
    ["Name", "Age", "Parents Income"],
    ["Arun", 21, "5L"],
    ["Priya", 22, "9.2L"],
    ["Kiran", 20, "7.5L"]
]

with open("students.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("CSV file created successfully!")

CSV file created successfully!

In [19]:
df_final = pd.read_csv("students.csv")
print(df_final)

      Name  Age  Marks
0     Arun   21     85
1    Priya   22     90
2    Kiran   20     78
3  William   28     92

## 2. Get Absolute Path of File

In [2]:
import os

absolute_path = os.path.abspath("students.csv")
print(f"The absolute path of 'students.csv' is: {absolute_path}")

The absolute path of 'students.csv' is: C:\Users\femal\Downloads\students.csv

## 3. Writing Rows One by One

In [3]:
import csv

with open('profiles1.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    field = ["name", "age", "country"]
    writer.writerow(field)
    writer.writerow(["Oladele Damilola", "40", "Nigeria"])
    writer.writerow(["Alina Hricko", "23", "Ukraine"])
    writer.writerow(["Isabel Walter", "50", "United Kingdom"])

In [20]:
df_final = pd.read_csv("profiles1.csv")
print(df_final)

               name  age         country
0  Oladele Damilola   40         Nigeria
1      Alina Hricko   23         Ukraine
2     Isabel Walter   50  United Kingdom

In [21]:
import os

absolute_path = os.path.abspath("profiles1.csv")
print(f"The absolute path of 'students.csv' is: {absolute_path}")

The absolute path of 'students.csv' is: C:\Users\femal\Downloads\profiles1.csv

## 4. Writing Multiple Rows with `writerows()`

In [4]:
import csv

row_list = [
    ["name", "age", "country"],
    ["Oladele Damilola", "40", "Nigeria"],
    ["Alina Hricko", "23", "Ukraine"],
    ["Isabel Walter", "50", "United Kingdom"]
]

with open('profiles2.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(row_list)

In [22]:
df_final = pd.read_csv("profiles2.csv")
print(df_final)

               name  age         country
0  Oladele Damilola   40         Nigeria
1      Alina Hricko   23         Ukraine
2     Isabel Walter   50  United Kingdom

## 5. Writing CSV with `csv.DictWriter()`

In [5]:
import csv

mydict = [
    {'name': 'Kelvin Gates', 'age': '19', 'country': 'USA'},
    {'name': 'Blessing Iroko', 'age': '25', 'country': 'Nigeria'},
    {'name': 'Idong Essien', 'age': '42', 'country': 'Ghana'}
]

fields = ['name', 'age', 'country']

with open('profiles3.csv', 'w', newline='') as file:
    writer = csv.DictWriter(file, fieldnames=fields)
    writer.writeheader()
    writer.writerows(mydict)

In [23]:
df_final = pd.read_csv("profiles3.csv")
print(df_final)

             name  age  country
0    Kelvin Gates   19      USA
1  Blessing Iroko   25  Nigeria
2    Idong Essien   42    Ghana

## 6. Reading CSV with `csv.reader()`

In [6]:
import csv

def readcsv():
    with open('profiles2.csv', newline='') as csv_file:
        csv_read = csv.reader(csv_file, delimiter=',')
        for row in csv_read:
            print(row)

readcsv()

['name', 'age', 'country']
['Oladele Damilola', '40', 'Nigeria']
['Alina Hricko', '23', 'Ukraine']
['Isabel Walter', '50', 'United Kingdom']

## 7. Appending Data to CSV

In [7]:
from csv import writer

new_row = [6, 'William', 5532, 1, 'UAE']

with open('event.csv', 'a', newline='') as f_object:
    writer_object = writer(f_object)
    writer_object.writerow(new_row)

print("Row appended successfully!")

Row appended successfully!

In [25]:
df_final = pd.read_csv("event.csv")
print(df_final)

Empty DataFrame
Columns: [6, William, 5532, 1, UAE]
Index: []

## 8. Handling CSV with Pandas

In [8]:
import pandas as pd

# Create DataFrame
data = {
    "Name": ["Arun", "Priya", "Kiran"],
    "Age": [21, 22, 20],
    "Marks": [85, 90, 78]
}
df = pd.DataFrame(data)

# Write to CSV
df.to_csv("students.csv", index=False)

# Read CSV
df_read = pd.read_csv("students.csv")
print(df_read)

# Append new row
new_row = {"Name": "William", "Age": 28, "Marks": 92}
df_updated = pd.concat([df_read, pd.DataFrame([new_row])], ignore_index=True)
df_updated.to_csv("students.csv", index=False)

# Read updated CSV
df_final = pd.read_csv("students.csv")
print(df_final)

    Name  Age  Marks
0   Arun   21     85
1  Priya   22     90
2  Kiran   20     78
      Name  Age  Marks
0     Arun   21     85
1    Priya   22     90
2    Kiran   20     78
3  William   28     92

## 9. JSON Handling: `dump()`, `load()`, `dumps()`, `loads()`

In [9]:
import json

# dump()
employee_data = {
    "emp1": {"name": "Alice", "age": 30, "department": "HR"},
    "emp2": {"name": "Bob", "age": 25, "department": "IT"}
}
with open("employees.json", "w") as f:
    json.dump(employee_data, f, indent=4)

# load()
with open("employees.json", "r") as f:
    data_from_file = json.load(f)
    print(data_from_file)

# dumps()
person_dict = {"name": "Charlie", "age": 35, "skills": ["Python", "AI"]}
person_json = json.dumps(person_dict, indent=4)
print(person_json)

# loads()
json_string = '{"city": "New York", "population": 890000, "famous": true}'
city_dict = json.loads(json_string)
print(city_dict)

{'emp1': {'name': 'Alice', 'age': 30, 'department': 'HR'}, 'emp2': {'name': 'Bob', 'age': 25, 'department': 'IT'}}
{
    "name": "Charlie",
    "age": 35,
    "skills": [
        "Python",
        "AI"
    ]
}
{'city': 'New York', 'population': 890000, 'famous': True}

## 10. Handling JSON with Pandas

In [10]:
import pandas as pd

# Create and write JSON
data = [
    {"id": 1, "name": "Alice", "age": 25, "city": "New York"},
    {"id": 2, "name": "Bob", "age": 30, "city": "Los Angeles"},
    {"id": 3, "name": "Charlie", "age": 35, "city": "Chicago"},
    {"id": 4, "name": "Diana", "age": 28, "city": "San Francisco"}
]
df = pd.DataFrame(data)
df.to_json("people.json", orient="records", indent=4)

# Read JSON
df = pd.read_json("people.json")
print(df.head())

# Filtering
filtered_df = df[df["age"] > 28]
print(filtered_df)

# Add column
df["age_group"] = df["age"].apply(lambda x: "Young" if x < 30 else "Old")

# Update value
df.loc[df["name"] == "Alice", "city"] = "Boston"

# Write back
df.to_json("people_updated.json", orient="records", indent=4)

   id     name  age           city
0   1    Alice   25       New York
1   2      Bob   30    Los Angeles
2   3  Charlie   35        Chicago
3   4    Diana   28  San Francisco
   id     name  age         city
1   2      Bob   30  Los Angeles
2   3  Charlie   35      Chicago

## 11. Reading Excel with `openpyxl`

In [13]:
import openpyxl

wb = openpyxl.load_workbook(r"C:\Users\femal\OneDrive\Desktop\videogamesales.xlsx")
ws = wb.active  # or wb['Sheet1']

print('Total rows:', ws.max_row)
print('Total columns:', ws.max_column)

print('A1 value:', ws['A1'].value)

# Read first row
values = [ws.cell(row=1, column=i).value for i in range(1, ws.max_column+1)]
print(values)

# Read first 10 rows of column B
data = [ws.cell(row=i, column=2).value for i in range(2, 12)]
print(data)

Total rows: 3
Total columns: 11
A1 value: Rank
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']
['Wii Sports', 'Super Mario Bros.', None, None, None, None, None, None, None, None]

## 12. Writing to Excel with `openpyxl`

In [14]:
ws['K1'] = 'Sum of Sales'
ws.cell(row=1, column=11, value='Sum of Sales')
wb.save('videogamesales.xlsx')

## 13. Writing Formulas with `openpyxl`

In [15]:
ws['P1'] = 'Average Sales'
ws['P2'] = '=AVERAGE(K2:K16220)'

ws['R1'] = 'Number of Rows with Sports Genre'
ws['R2'] = '=COUNTIF(E2:E16220, "Sports")'

ws['S1'] = 'Total Sports Sales'
ws['S2'] = '=SUMIF(E2:E16220, "Sports", K2:K16220)'

ws['T1'] = 'Rounded Sum of Sports Sales'
ws['T2'] = '=CEILING(S2,25)'

wb.save('videogamesales.xlsx')

## 14. Formatting Cells with `openpyxl`

In [16]:
from openpyxl.styles import Font, PatternFill, colors

ws['A1'].font = Font(bold=True, size=12)
ws['A1'].font = Font(color='FF0000', bold=True, size=12)
ws['A2'].font = Font(color='0000FF')
ws['A1'].fill = PatternFill('solid', start_color="38e3ff")

wb.save('videogamesales.xlsx')

In [26]:
df = pd.read_excel(r"videogamesales.xlsx", sheet_name="Sheet1")
print(df.head())

   Rank               Name Platform  Year     Genre Publisher  NA_Sales  \
0     1         Wii Sports      Wii  2006    Sports  Nintendo     41.36
1     2  Super Mario Bros.      NES  1985  Platform  Nintendo     29.08

   EU_Sales  JP_Sales  Other_Sales  Sum of Sales  Unnamed: 11  Unnamed: 12  \
0     28.96      3.77         8.45         82.53          NaN          NaN
1      3.58      6.81         0.77         40.24          NaN          NaN

   Unnamed: 13  Unnamed: 14  Average Sales  Unnamed: 16  \
0          NaN          NaN            NaN          NaN
1          NaN          NaN            NaN          NaN

   Number of Rows with Sports Genre  Total Sports Sales  \
0                               NaN                 NaN
1                               NaN                 NaN

   Rounded Sum of Sports Sales
0                          NaN
1                          NaN

## 15. Handling Excel with Pandas

In [18]:
import pandas as pd

df = pd.read_excel(r"C:\Users\femal\OneDrive\Desktop\sample.xlsx", sheet_name="Sheet1")
print(df.head())

filtered_df = df[df["Age"] > 25]
print(filtered_df)

df["Age_Group"] = df["Age"].apply(lambda x: "Young" if x < 30 else "Old")
df.loc[df["Name"] == "Alice", "City"] = "Boston"

df.to_excel("sample_updated.xlsx", sheet_name="UpdatedData", index=False)

      Name  Age           City
0    Alice   25       New York
1      Bob   30    Los Angeles
2  Charlie   35        Chicago
3    Diana   28  San Francisco
      Name  Age           City
1      Bob   30    Los Angeles
2  Charlie   35        Chicago
3    Diana   28  San Francisco