# LAB 4 AND 5

# ---------------------------------------
# LIST SLICING BASICS
# ---------------------------------------

In [4]:
m = [0, 1, 2, 3, 4, 5]

In [5]:
# Elements from index 1 to 2 (end index excluded)
m[1:3]

[1, 2]

In [6]:
# Elements from index 2 to end
m[2:]

[2, 3, 4, 5]

In [7]:
# Last two elements
m[-2:]

[4, 5]

In [12]:
m[:-2]

[0, 1, 2, 3]

In [13]:
# Empty list because start > end (with default positive step)
m[2:1]

[]

# ---------------------------------------
# SHALLOW vs. DEEP COPY
# --------------------------------------

In [14]:
# Deep copy using slicing → creates a new list object with same elements
l1 = m[:]

In [15]:
l1

[0, 1, 2, 3, 4, 5]

In [16]:
# Shallow copy (reference copy) → both variables point to same object
l2 = m

In [17]:
l2

[0, 1, 2, 3, 4, 5]

In [18]:
# Showing IDs to prove that l1 is a different object, but l2 is same as m
(m, id(m), id(l1), id(l2), l1, l2)

([0, 1, 2, 3, 4, 5],
 2629310947200,
 2629297274944,
 2629310947200,
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5])

# ---------------------------------------
# Effect of Append on Shallow and Deep Copies
# ---------------------------------------

In [19]:
# Append an element to m
m.append(4)

In [20]:
m

[0, 1, 2, 3, 4, 5, 4]

In [21]:
# Deep copy (l1) remains unaffected, shallow copy (l2) changes because it refers to m
(m, l1, l2)

([0, 1, 2, 3, 4, 5, 4], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 4])

# ---------------------------------------
# LOOPING THROUGH A SLICE
# ---------------------------------------

In [23]:
w

[0, 1, 2]

In [24]:
# Slice first three elements
w = m[:3]

In [25]:
for i in w:
    print(i)  # display() works well in notebooks

0
1
2

# ---------------------------------------
# OFF-BY-ONE BEHAVIOR
# ---------------------------------------

In [26]:
# Off-by-one errors happen when you loop too many or too few times
# Python indexing starts at 0, but len() counts items starting from 1 conceptually

numbers = [10, 20, 30, 40, 50]

# Loop using range(len(numbers)) — common pattern
# This ensures last index is len(numbers) - 1
for i in range(len(numbers)):
    display((i, numbers[i]))  # showing index and value

(0, 10)

(1, 20)

(2, 30)

(3, 40)

(4, 50)

In [27]:
# -----------------------------------------------------
# 1. OFF-BY-ONE BEHAVIOR
# -----------------------------------------------------

# New example list
scores = [88, 92, 79, 94, 85]

# ❌ WRONG way: goes out of range because len(scores) + 1 → tries to access index 5
# for i in range(len(scores) + 1):
#     scores[i]  # This will cause IndexError

# ✅ CORRECT way: only loop until len(scores) - 1
[(i, scores[i]) for i in range(len(scores))]

[(0, 88), (1, 92), (2, 79), (3, 94), (4, 85)]

# -----------------------------------------------------
# 2. SLICING A LIST
# -----------------------------------------------------

In [28]:
cities = ["New York", "Paris", "Tokyo", "Berlin", "Sydney", "Dubai"]

In [29]:
# From Paris to Berlin (index 1 to 3, end excluded)
cities[1:4]

['Paris', 'Tokyo', 'Berlin']

In [30]:
# First 4 cities (start omitted)
cities[:4]

['New York', 'Paris', 'Tokyo', 'Berlin']

In [31]:
# From Tokyo to end (end omitted)
cities[2:]

['Tokyo', 'Berlin', 'Sydney', 'Dubai']

In [32]:
# Every alternate city
cities[::2]

['New York', 'Tokyo', 'Sydney']

In [33]:
[city for city in cities]

['New York', 'Paris', 'Tokyo', 'Berlin', 'Sydney', 'Dubai']

In [35]:
[x*2 for x in range(5)]

[0, 2, 4, 6, 8]

In [36]:
[for x in range(6)]

SyntaxError: invalid syntax (1974521107.py, line 1)

In [34]:
# -----------------------------------------------------
# 3. LOOPING THROUGH A LIST
# -----------------------------------------------------

# Direct element iteration (when only values matter)
[city for city in cities]


# Index-based iteration (when position also matters)
[(i, cities[i]) for i in range(len(cities))]

[(0, 'New York'),
 (1, 'Paris'),
 (2, 'Tokyo'),
 (3, 'Berlin'),
 (4, 'Sydney'),
 (5, 'Dubai')]

# -----------------------------------------------------
# 4. LOOPING THROUGH A SLICE
# -----------------------------------------------------

In [26]:
# From Paris to Sydney
[city for city in cities[1:5]]

['Paris', 'Tokyo', 'Berlin', 'Sydney']

In [27]:
# Every second city
[city for city in cities[::2]]

['New York', 'Tokyo', 'Sydney']

# -----------------------------------------------------
# 5. UNDERSTANDING TUPLES
# -----------------------------------------------------

In [32]:


# Tuples are immutable — once created, elements can't be changed
book_info = ("The Hobbit", "J.R.R. Tolkien", 1937)

In [29]:
# Access by index
(book_info[0], book_info[1], book_info[2])

('The Hobbit', 'J.R.R. Tolkien', 1937)

In [30]:
# Tuple unpacking into separate variables
title, author, year = book_info
(title, author, year)

('The Hobbit', 'J.R.R. Tolkien', 1937)

In [31]:
# Nested tuple example
mixed_tuple = (42, (3.14, 2.71), ["apple", "banana"])
mixed_tuple

(42, (3.14, 2.71), ['apple', 'banana'])

# -----------------------------------------------------
# 6. REVERSE, STEP, AND COPY
# -----------------------------------------------------

In [33]:
nums = [5, 10, 15, 20, 25, 30]
print("Original list:", nums)

# Reverse
print("Reversed list:", nums[::-1])

# Every 2nd element
print("Every 2nd element:", nums[0:len(nums):2])

# Deep copy via slicing
copy_nums = nums[:]
print("Copy of nums:", copy_nums)
print("Is same object? (ids equal?):", id(nums) == id(copy_nums))

# Modify original → copy remains unchanged
nums.append(35)
print("After appending to original nums:", nums)
print("Copy remains unchanged:", copy_nums)

Original list: [5, 10, 15, 20, 25, 30]
Reversed list: [30, 25, 20, 15, 10, 5]
Every 2nd element: [5, 15, 25]
Copy of nums: [5, 10, 15, 20, 25, 30]
Is same object? (ids equal?): False
After appending to original nums: [5, 10, 15, 20, 25, 30, 35]
Copy remains unchanged: [5, 10, 15, 20, 25, 30]

# -----------------------------------------------------
# 7. NESTED SLICING
# -----------------------------------------------------

In [39]:


nested_list = [["cat", "dog"], ["apple", "mango"], ["red", "blue"]]
print("Original nested list:", nested_list)

# Slice outer list
print("Slice outer list [1:3]:", nested_list[1:3])

# Slice inside an inner list
print("Slice inside second list [0:2]:", nested_list[1][0:2])

Original nested list: [['cat', 'dog'], ['apple', 'mango'], ['red', 'blue']]
Slice outer list [1:3]: [['apple', 'mango'], ['red', 'blue']]
Slice inside second list [0:2]: ['apple', 'mango']

# -----------------------------------------------------
# 8. TUPLE ITERATION & CONVERSION
# -----------------------------------------------------

In [37]:


colors = ("cyan", "magenta", "yellow")
print("Original tuple:", colors)

# Iterating over tuple and printing uppercase versions
print("Uppercase colors:")
for color in colors:
    print(color.upper())

# Tuple unpacking
c1, c2, c3 = colors
print("Unpacked values:", c1, c2, c3)

# Convert tuple → list, modify, then back to tuple
temp_list = list(colors)
temp_list.append("black")
print(temp_list)
colors = tuple(temp_list)
print("After adding 'black':", colors)

Original tuple: ('cyan', 'magenta', 'yellow')
Uppercase colors:
CYAN
MAGENTA
YELLOW
Unpacked values: cyan magenta yellow
['cyan', 'magenta', 'yellow', 'black']
After adding 'black': ('cyan', 'magenta', 'yellow', 'black')

# -----------------------------------------------------
# 9. NEGATIVE STEP & SLICE ASSIGNMENT
# -----------------------------------------------------

In [42]:


letters = ["p", "q", "r", "s", "t"]
print("Original letters:", letters)

# Negative step: reverse partial section
print("letters[4:1:-1]:", letters[4:1:-1])

# Slice assignment (only lists allow this)
letters[1:3] = ["x", "y"]
print("After slice assignment [1:3] = ['x','y']:", letters)

Original letters: ['p', 'q', 'r', 's', 't']
letters[4:1:-1]: ['t', 's', 'r']
After slice assignment [1:3] = ['x','y']: ['p', 'x', 'y', 's', 't']

# -----------------------------------------------------
# 10. RANGE WITH SLICES
# -----------------------------------------------------

In [43]:


r = list(range(20))
print("Numbers from 0 to 19:", r)

# Every 4th number
print("Every 4th number:", r[::4])

Numbers from 0 to 19: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Every 4th number: [0, 4, 8, 12, 16]

# -----------------------------------------------------
# 11. SHALLOW COPY BEHAVIOR
# -----------------------------------------------------

In [44]:


list1 = [[10, 20], [30, 40]]
list2 = list1[:]  # Shallow copy
print("Original lists:")
print("list1:", list1)
print("list2:", list2)

# Modify inner list in list1 → affects both because inner lists are shared
list1[0][1] = 999
print("\nAfter modifying list1[0][1] = 999:")
print("list1:", list1)
print("list2:", list2)

Original lists:
list1: [[10, 20], [30, 40]]
list2: [[10, 20], [30, 40]]

After modifying list1[0][1] = 999:
list1: [[10, 999], [30, 40]]
list2: [[10, 999], [30, 40]]

In [45]:
def display(arg1, *arg2 ):
    print("arg1=", arg1)
    for var in arg2: 
        print("arg2=",var) 
    return;
display(3,1,2,3)

arg1= 3
arg2= 1
arg2= 2
arg2= 3

In [57]:
def sum(count,*values): 
    sum = 0 
   
    print('No. of argument is:', count) 
    for i in values: 
    # print(values[i]) 
        sum = sum + i
        print(f"{i}")
       
    print("sum is =", sum)
sum(3,3,4,5)

No. of argument is: 3
3
4
5
sum is = 12

In [60]:
def display_info(**kwargs):
    print("kwargs as dict:", kwargs)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

display_info(name="Alice", age=25, city="New York")
#dict.key()
#dict.values()
#dict.items()
#d2=dict.copy()

kwargs as dict: {'name': 'Alice', 'age': 25, 'city': 'New York'}
name: Alice
age: 25
city: New York

In [81]:
class student:
    def __init__(self, n, a):
        self.full_name = n
        self.age = a
    def get_age(self):
        self.grade='a'
        return self.age

In [82]:
s1=student("khu",19)

In [83]:
s1.full_name

'khu'

In [84]:
s1.get_age()

19

In [85]:
s1.grade

'a'

In [11]:
import multiprocessing
import time

class Process(multiprocessing.Process):
    def __init__(self, id):
        super().__init__()   # modern style
        self.id = id

    def run(self):
        time.sleep(5)
        print(f"I'm the process with id: {self.id}")
        time.sleep(5)
        print("execution completed")

if __name__ == '__main__':
    p1 = Process(100)
    p2 = Process(101)
    print("hai")
    p1.start()
    p1.run()
    p2.start()
    p2.run()
    p1.join()
    p2.join()

hai
I'm the process with id: 100
execution completed
I'm the process with id: 101
execution completed

In [21]:
import itertools as itr

In [26]:
print(dict(itr.repeat({'niki':'ji'},10)))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [30]:
print("The cartesian product using repeat:")
print(list(itertools.product([1, 2], [3,4,5])))
print()
print("The cartesian product of the containers:")
print(list(itertools.product(['geeks', 'for', 'geeks'], 'hello')))
print()
print("The cartesian product of the containers:")
print(list(itertools.product('AB', [3, 4])))

The cartesian product using repeat:
[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5)]

The cartesian product of the containers:
[('geeks', 'h'), ('geeks', 'e'), ('geeks', 'l'), ('geeks', 'l'), ('geeks', 'o'), ('for', 'h'), ('for', 'e'), ('for', 'l'), ('for', 'l'), ('for', 'o'), ('geeks', 'h'), ('geeks', 'e'), ('geeks', 'l'), ('geeks', 'l'), ('geeks', 'o')]

The cartesian product of the containers:
[('A', 3), ('A', 4), ('B', 3), ('B', 4)]

In [1]:
class Father:
    def skills(self):
        print("Father: Driving")

class Mother:
    def skills(self):
        print("Mother: Cooking")

class Child(Father, Mother):
    def extra(self):
        print("Child: Painting")

c = Child()
c.skills()   # Resolves via MRO (Father first)
c.extra()

Father: Driving
Child: Painting

In [2]:
# Define a Vector class
class Vector:
    def __init__(self, x, y):
        # Each vector has two components (x and y)
        self.x = x
        self.y = y
    
    # Redefine how the '+' operator works for Vector objects
    def __add__(self, other):
        # Add corresponding components of two vectors
        new_x = self.x + other.x
        new_y = self.y + other.y
        return Vector(new_x, new_y)  # return a new Vector object
    
    # Define how to print the object nicely
    def __str__(self):
        return f"Vector({self.x}, {self.y})"


# Create two vector objects
v1 = Vector(2, 3)
v2 = Vector(4, 5)

# Normally '+' is used for numbers, but here it works for Vectors
result = v1 + v2

# Print the result
print(result)

Vector(6, 8)