# LAB 13

# Handling Excel

In [2]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
#Creating Excel file
import pandas as pd

# sample data
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 22],
    "City": ["Delhi", "Mumbai", "Kolkata"]
}

df = pd.DataFrame(data)

# create Excel file in current folder
df.to_excel("mydata.xlsx", index=False)

In [4]:
import os
print(os.getcwd())

C:\Users\Lenovo

# Read Excel file

In [6]:
import pandas as pd

excel_df = pd.read_excel(r"C:\Users\Lenovo\mydata.xlsx")
print(excel_df.head())

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Kolkata

# Writing DataFrame to Excel file

In [7]:
excel_df.to_excel("output.xlsx", index=False)

# Appending a new sheet

In [10]:
import pandas as pd

# new data to append
new_data = pd.DataFrame({
    'Numbers': [101, 102, 103],
    'Text': ['one', 'two', 'three']
})

# append as a new sheet
with pd.ExcelWriter(r"C:\Users\Lenovo\mydata.xlsx",
                    mode='a', engine='openpyxl') as writer:
    new_data.to_excel(writer, sheet_name='AppendedData', index=False)

# Appending rows into the same sheet

In [18]:
import pandas as pd

file_path = r"C:\Users\Lenovo\mydata.xlsx"  # your Excel file

# 1. Read existing sheet
df = pd.read_excel(file_path, sheet_name='Sheet1')

# 2. Create new rows
new_rows = pd.DataFrame({
    'Name': ['Apoorva', 'Arnav'],
    'Age': [28, 24],
    'City': ['Chennai', 'Jaipur']
})

# 3. Append them
df_updated = pd.concat([df, new_rows], ignore_index=True)

# 4. Write back to the same sheet
df_updated.to_excel(file_path, sheet_name='Sheet1', index=False)

print("Rows added successfully!")

Rows added successfully!

# Checking the output

In [20]:
file_path = r"C:\Users\Lenovo\mydata.xlsx"
df = pd.read_excel(file_path)
print(df)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Kolkata
3  Apoorva   28  Chennai
4    Arnav   24   Jaipur

# Overwriting a row

In [24]:
from openpyxl import load_workbook

file_path = r"C:\Users\Lenovo\mydata.xlsx"

# load workbook
wb = load_workbook(file_path)
ws = wb['Sheet1']  

# row 1 is the header; row 2 is first data row (Alice)
# let's overwrite row 2 (Alice) with new values:
ws.cell(row=2, column=1).value = 'Rachna'       # Name
ws.cell(row=2, column=2).value = 35           # Age
ws.cell(row=2, column=3).value = 'Pune'       # City

# save workbook
wb.save(file_path)

print("Row 1 (first data row) updated successfully.")

Row 1 (first data row) updated successfully.

In [25]:
#Checking excel
file_path = r"C:\Users\Lenovo\mydata.xlsx"
df = pd.read_excel(file_path)
print(df)

      Name  Age     City
0   Rachna   35     Pune
1      Bob   30   Mumbai
2  Charlie   22  Kolkata
3  Apoorva   28  Chennai
4    Arnav   24   Jaipur

# Reading specific chunk

In [26]:
import pandas as pd

file_path = r"C:\Users\Lenovo\mydata.xlsx"

df_chunk = pd.read_excel(
    file_path,
    skiprows=range(1, 3),  # skip 2 data rows after header
    nrows=2                # then read 2 rows
)
print(df_chunk)

      Name  Age     City
0  Charlie   22  Kolkata
1  Apoorva   28  Chennai