# LAB 14

# Handling Excel

In [2]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
#Creating Excel file
import pandas as pd

# sample data
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 22],
    "City": ["Delhi", "Mumbai", "Kolkata"]
}

df = pd.DataFrame(data)

# create Excel file in current folder
df.to_excel("mydata.xlsx", index=False)

In [4]:
import os
print(os.getcwd())

C:\Users\Lenovo

# Read Excel file

In [6]:
import pandas as pd

excel_df = pd.read_excel(r"C:\Users\Lenovo\mydata.xlsx")
print(excel_df.head())

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Kolkata

# Writing DataFrame to Excel file

In [7]:
excel_df.to_excel("output.xlsx", index=False)

# Appending a new sheet

In [10]:
import pandas as pd

# new data to append
new_data = pd.DataFrame({
    'Numbers': [101, 102, 103],
    'Text': ['one', 'two', 'three']
})

# append as a new sheet
with pd.ExcelWriter(r"C:\Users\Lenovo\mydata.xlsx",
                    mode='a', engine='openpyxl') as writer:
    new_data.to_excel(writer, sheet_name='AppendedData', index=False)

# Appending rows into the same sheet

In [18]:
import pandas as pd

file_path = r"C:\Users\Lenovo\mydata.xlsx"  # your Excel file

# 1. Read existing sheet
df = pd.read_excel(file_path, sheet_name='Sheet1')

# 2. Create new rows
new_rows = pd.DataFrame({
    'Name': ['Apoorva', 'Arnav'],
    'Age': [28, 24],
    'City': ['Chennai', 'Jaipur']
})

# 3. Append them
df_updated = pd.concat([df, new_rows], ignore_index=True)

# 4. Write back to the same sheet
df_updated.to_excel(file_path, sheet_name='Sheet1', index=False)

print("Rows added successfully!")

Rows added successfully!

# Checking the output

In [20]:
file_path = r"C:\Users\Lenovo\mydata.xlsx"
df = pd.read_excel(file_path)
print(df)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Kolkata
3  Apoorva   28  Chennai
4    Arnav   24   Jaipur

# Overwriting a row

In [24]:
from openpyxl import load_workbook

file_path = r"C:\Users\Lenovo\mydata.xlsx"

# load workbook
wb = load_workbook(file_path)
ws = wb['Sheet1']  

# row 1 is the header; row 2 is first data row (Alice)
# let's overwrite row 2 (Alice) with new values:
ws.cell(row=2, column=1).value = 'Rachna'       # Name
ws.cell(row=2, column=2).value = 35           # Age
ws.cell(row=2, column=3).value = 'Pune'       # City

# save workbook
wb.save(file_path)

print("Row 1 (first data row) updated successfully.")

Row 1 (first data row) updated successfully.

In [25]:
#Checking excel
file_path = r"C:\Users\Lenovo\mydata.xlsx"
df = pd.read_excel(file_path)
print(df)

      Name  Age     City
0   Rachna   35     Pune
1      Bob   30   Mumbai
2  Charlie   22  Kolkata
3  Apoorva   28  Chennai
4    Arnav   24   Jaipur

# Reading specific chunk

In [26]:
import pandas as pd

file_path = r"C:\Users\Lenovo\mydata.xlsx"

df_chunk = pd.read_excel(
    file_path,
    skiprows=range(1, 3),  # skip 2 data rows after header
    nrows=2                # then read 2 rows
)
print(df_chunk)

      Name  Age     City
0  Charlie   22  Kolkata
1  Apoorva   28  Chennai

# Handling Json

# Creating JSON

In [1]:
import json

# your data as a list of dictionaries
data = [
    {"Name": "Alice", "Age": 25, "City": "Delhi"},
    {"Name": "Bob", "Age": 30, "City": "Mumbai"},
    {"Name": "Charlie", "Age": 22, "City": "Kolkata"},
    {"Name": "Apoorva", "Age": 28, "City": "Chennai"},
    {"Name": "Arnav", "Age": 24, "City": "Jaipur"}
]

# file path
file_path = r"C:\Users\Lenovo\mydata.json"

# write JSON file
with open(file_path, "w") as f:
    json.dump(data, f, indent=4)

print("JSON file created at", file_path)

JSON file created at C:\Users\Lenovo\mydata.json

# Reading JSON file

In [3]:
import pandas as pd

file_path = r"C:\Users\Lenovo\mydata.json"

df = pd.read_json(file_path)
print(df)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Kolkata
3  Apoorva   28  Chennai
4    Arnav   24   Jaipur

# Reading only a chunk of a JSON file

In [4]:
import json
import pandas as pd

file_path = r"C:\Users\Lenovo\mydata.json"

with open(file_path) as f:
    data = json.load(f)

# data is a list of dicts
chunk = data[3:5]     # 3rd to 5th records
df_chunk = pd.DataFrame(chunk)
print(df_chunk)

      Name  Age     City
0  Apoorva   28  Chennai
1    Arnav   24   Jaipur

# Appending new rows to JSON

In [6]:
import json
import pandas as pd

file_path = r"C:\Users\Lenovo\mydata.json"

# read existing
with open(file_path) as f:
    data = json.load(f)    # list of dicts

# new rows to add
new_rows = [
    {"Name": "Rachna", "Age": 28, "City": "Chennai"},
    {"Name": "Ram", "Age": 24, "City": "Jaipur"}
]

# append
data.extend(new_rows)

# write back
with open(file_path, 'w') as f:
    json.dump(data, f, indent=4)

print("JSON updated.")

JSON updated.

In [7]:
file_path = r"C:\Users\Lenovo\mydata.json"

df = pd.read_json(file_path)
print(df)

      Name  Age     City
0    Alice   25    Delhi
1      Bob   30   Mumbai
2  Charlie   22  Kolkata
3  Apoorva   28  Chennai
4    Arnav   24   Jaipur
5   Rachna   28  Chennai
6      Ram   24   Jaipur

# Writing numeric or text data to JSON

In [8]:
import pandas as pd
import json
import os

file_path = r"C:\Users\Lenovo\mydata.json"

# Numeric data to add 
num_df = pd.DataFrame([
    {'A': 100, 'B': 9.5},
    {'A': 200, 'B': 8.5}
])

#Text data to add 
txt_df = pd.DataFrame([
    {'Name': 'Simran', 'Age': 26, 'City': 'Delhi'},
    {'Name': 'Vikram', 'Age': 29, 'City': 'Mumbai'}
])

# Load existing data or create empty list
data = json.load(open(file_path)) if os.path.exists(file_path) else []

# Append both numeric and text data
data.extend(num_df.to_dict(orient='records'))
data.extend(txt_df.to_dict(orient='records'))

# Save back to JSON
json.dump(data, open(file_path, 'w'), indent=4)

print("Numeric and text data added successfully!")

Numeric and text data added successfully!

In [9]:
file_path = r"C:\Users\Lenovo\mydata.json"

df = pd.read_json(file_path)
print(df)

       Name   Age     City      A    B
0     Alice  25.0    Delhi    NaN  NaN
1       Bob  30.0   Mumbai    NaN  NaN
2   Charlie  22.0  Kolkata    NaN  NaN
3   Apoorva  28.0  Chennai    NaN  NaN
4     Arnav  24.0   Jaipur    NaN  NaN
5    Rachna  28.0  Chennai    NaN  NaN
6       Ram  24.0   Jaipur    NaN  NaN
7       NaN   NaN      NaN  100.0  9.5
8       NaN   NaN      NaN  200.0  8.5
9    Simran  26.0    Delhi    NaN  NaN
10   Vikram  29.0   Mumbai    NaN  NaN

# Adding row

In [10]:
import pandas as pd
import json
import os

file_path = r"C:\Users\Lenovo\mydata.json"

# New row to add
new_row = pd.DataFrame([{'Name': 'Simran', 'Age': 26, 'City': 'Delhi'}])

# Load existing data
data = json.load(open(file_path)) if os.path.exists(file_path) else []

# Append new row
data.extend(new_row.to_dict(orient='records'))

# Save back
json.dump(data, open(file_path, 'w'), indent=4)

print("Row added successfully!")

Row added successfully!

In [11]:
file_path = r"C:\Users\Lenovo\mydata.json"

df = pd.read_json(file_path)
print(df)

       Name   Age     City      A    B
0     Alice  25.0    Delhi    NaN  NaN
1       Bob  30.0   Mumbai    NaN  NaN
2   Charlie  22.0  Kolkata    NaN  NaN
3   Apoorva  28.0  Chennai    NaN  NaN
4     Arnav  24.0   Jaipur    NaN  NaN
5    Rachna  28.0  Chennai    NaN  NaN
6       Ram  24.0   Jaipur    NaN  NaN
7       NaN   NaN      NaN  100.0  9.5
8       NaN   NaN      NaN  200.0  8.5
9    Simran  26.0    Delhi    NaN  NaN
10   Vikram  29.0   Mumbai    NaN  NaN
11   Simran  26.0    Delhi    NaN  NaN

# handle exceptions

reads JSON safely with exception handling.

df.fillna(True) replaces all NaNs with True.

Works for both numeric and text columns.

Exceptions handle missing files, corrupted JSON, or other errors.

In [14]:
import pandas as pd
import os

file_path = r"C:\Users\Lenovo\mydata.json"

try:
    # Check if file exists
    if not os.path.exists(file_path):
        raise FileNotFoundError(f"File '{file_path}' does not exist.")

    # Read JSON into a DataFrame
    df = pd.read_json(file_path)

    # Replace all NaN values with True
    df = df.fillna(True)

    # Show the updated DataFrame
    print("Updated DataFrame (NaNs replaced with True):")
    print(df)

except FileNotFoundError as fnf:
    print("Error:", fnf)

except ValueError as ve:
    print("Error: JSON might be corrupted or not in correct format.", ve)

except Exception as e:
    print("An unexpected error occurred:", e)

Updated DataFrame (NaNs replaced with True):
       Name   Age     City      A     B
0     Alice  25.0    Delhi   True  True
1       Bob  30.0   Mumbai   True  True
2   Charlie  22.0  Kolkata   True  True
3   Apoorva  28.0  Chennai   True  True
4     Arnav  24.0   Jaipur   True  True
5    Rachna  28.0  Chennai   True  True
6       Ram  24.0   Jaipur   True  True
7      True  True     True  100.0   9.5
8      True  True     True  200.0   8.5
9    Simran  26.0    Delhi   True  True
10   Vikram  29.0   Mumbai   True  True
11   Simran  26.0    Delhi   True  True